
<form [formGroup]="alunoForm" (ngSubmit)="editarAluno()">
  <div>
    <label for="nome">Nome:</label>
    <input id="nome" type="text" formControlName="Nome" />
    <div *ngIf="alunoForm.get('Nome')?.invalid && alunoForm.get('Nome')?.touched">
      Nome é obrigatório
    </div>
  </div>

  <div>
    <label for="sexo">Sexo:</label>
    <select id="sexo" formControlName="Sexo">
      <option value="">Selecione o sexo</option>
      <option value="M">Masculino</option>
      <option value="F">Feminino</option>
    </select>
    <div *ngIf="alunoForm.get('Sexo')?.invalid && alunoForm.get('Sexo')?.touched">
      <small>O sexo é obrigatório.</small>
    </div>
  </div>

  <div>
    <label for="email">Email:</label>
    <input id="email" type="email" formControlName="Email" />
    <div *ngIf="alunoForm.get('Email')?.invalid && alunoForm.get('Email')?.touched">
      <small>O email é inválido ou obrigatório.</small>
    </div>
  </div>

  <div>
    <label for="dataNascimento">Data de Nascimento:</label>
    <input id="dataNascimento" type="date" formControlName="DataNascimento" />
    <div *ngIf="alunoForm.get('DataNascimento')?.invalid && alunoForm.get('DataNascimento')?.touched">
      <small>A data de nascimento é obrigatória.</small>
    </div>
  </div>

  <button type="submit" mat-button color="primary">Salvar</button>
</form>
