body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.toolbar-container {
  padding: 10px;

}
.editar{
  padding: 0.8rem;
  background-color: #2196f3;
  color: #fff;
  border: none;
  border-radius: 10px;
  margin-top: 5px;
  cursor: pointer;
  flex-shrink: 0;
}

.editar:hover{
  background-color: #0c7cd5;
}

.excluir{
  padding: 0.8rem;
  background-color: #f32121;
  color: #fff;
  border: none;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  flex-shrink: 0;
}
.excluir:hover{
  background-color: #d10606;
}

.table-container {
  padding: 20px;
  overflow-x: auto;
  background-color: #f5f5f5;
  padding: 10px;

}

table {
  width: 100%;
  border-collapse: collapse;
}

.mat-header-cell, .mat-cell {
  text-align: center;
  padding: 8px;
}

button {
  margin-right: 5px;
}

@media (max-width: 768px) {
  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    position: sticky; // deixando no stick o rolamento fica mais fluido, mas acho que é bom ver outra forma dps
  }

  th.mat-header-cell, td.mat-cell {
    font-size: 14px;
    padding: 6px;
  }

  button {
    width: 100%;
    margin-bottom: 5px;
  }
}
